<div class="card">
    <div class="grid mb-3 border-bottom-1 ml-1">
        <div class="col-3 header-container pl-1 ">
            <div class="card-header">
                <div class="card-title">
                    <div class="flex pl-0">
                        <div
                            [ngStyle]="{width: '2rem', height: '2rem'}"
                            class="flex align-items-center justify-content-center border-round mr-3 container-action card-title-icon cursor-pointer">
                            <i class="pi {{ titleIcon }} text-xl bg-primary"></i>
                        </div>
                        <div class="card-title-text">
                            {{ title }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="p-fluid">
        <ng-content></ng-content>
    </div>
</div>
