<div class="card mb-0 container-card">
    <div class="grid mb-3">
        <div class="flex justify-content-between mb-3 col-7">
            <div>
                <span class="text-900 font-medium text-xl container-card-title">{{ container?.name }}</span>
                <div class="">{{ container?.state }}</div>
                <div class="flex pt-2">
                    <div
                        (click)="startContainer(container); $event.stopPropagation()"
                        [ngStyle]="{width: '2rem', height: '2rem'}"
                        class="flex align-items-center justify-content-center border-round mr-3 container-action p-button-success  p-button">
                        <i class="pi pi-play text-xl"></i>
                    </div>
                    <div
                        (click)="stopContainer(container); $event.stopPropagation()"
                        [ngStyle]="{width: '2rem', height: '2rem'}"
                        class="flex align-items-center justify-content-center border-round mr-3  p-button-danger  p-button">
                        <i class="pi pi-stop text-xl"></i>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-5 flex align-items-start justify-content-end">
            <div class="text-right" style="overflow: hidden; text-overflow: ellipsis; white-space: nowrap;">
                <a>
                    <span [ngClass]="container.state === 'running' ? 'text-green-500' : 'text-red-500'" class="font-medium">
                        {{
                            container?.status
                        }}
                    </span>
                </a>
                <div class="p-text-secondary" style="overflow: hidden; text-overflow: ellipsis; white-space: nowrap;">
                    {{ container?.image }}
                </div>
            </div>
        </div>
    </div>


</div>
