<div class="card">
    <div class="card-header">
        <div class="card-title">
            <div class="flex mb-3 col-7">
                <div class="flex align-items-center justify-content-center border-round mr-3 container-action card-title-icon cursor-pointer"
                     [ngStyle]="{width: '2rem', height: '2rem'}">
                    <i class="pi pi-box text-blue-500 text-5xl"></i>
                </div>
                <div class="card-title-text">
                    Containers
                </div>
            </div>
        </div>

        <div class="grid">
            <div class="col-12 lg:col-6" *ngFor="let container of containerList; trackBy: trackByContainerId" (click)="onClick(container)">
                <docker-container-card [container]="container"></docker-container-card>
            </div>
        </div>
    </div>
</div>
