<div class="grid mb-3 border-bottom-1  border-left-1 border-right-1 ml-1">
    <div class="col-1 header-container pl-1 header-container">
        <ng-container *ngIf="customHeaderTemplate; else defaultHeader">
            <ng-container *ngTemplateOutlet="customHeaderTemplate; context: {$implicit: label}">
            </ng-container>
        </ng-container>
        <ng-template #defaultHeader>
            <strong *ngIf="label">
                {{ label }}
            </strong>
        </ng-template>
    </div>
    <div class="col-11 info-panel-row-value">
        <ng-container *ngIf="customValueTemplate; else defaultValue">
            <ng-container *ngTemplateOutlet="customValueTemplate; context: {$implicit: value}">
            </ng-container>
        </ng-container>
        <ng-template #defaultValue>
            <div *ngIf="value">
                {{ value }}
            </div>
        </ng-template>
    </div>
</div>
