.actions {
    display: flex;
    gap: 0.5rem;
    margin-bottom: 1rem;
}

.p-fluid .p-grid > .p-col-12 {
    padding: 0.5rem;
}

.container-action{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease;
}

.card-title-text {
    display: flex;
    align-items: center;
    font-weight: 1200;
    font-size: 1.5rem;
    color: var(--text-900);
}
