<div class="layout-topbar">
    <a class="layout-topbar-logo" routerLink="">
        <img
            src="assets/layout/images/{{layoutService.config().colorScheme === 'light' ? 'logo-dark' : 'logo-white'}}.svg"
            alt="logo">
        <span>SAKAI</span>
    </a>

    <button #menubutton class="p-link layout-menu-button layout-topbar-button" (click)="layoutService.onMenuToggle()">
        <i class="pi pi-bars"></i>
    </button>

    <button #topbarmenubutton class="p-link layout-topbar-menu-button layout-topbar-button"
            (click)="layoutService.showProfileSidebar()">
        <i class="pi pi-ellipsis-v"></i>
    </button>

    <div #topbarmenu class="layout-topbar-menu"
         [ngClass]="{'layout-topbar-menu-mobile-active': layoutService.state.profileSidebarVisible}">
        <ul class="layout-topbar-menu">
            <li>
                <button class="p-link layout-topbar-button">
                    <i class="pi pi-calendar"></i>
                    <span>Calendar</span>
                </button>
            </li>
            <li class="dropdown">
                <button class="p-link layout-topbar-button">
                    <i class="pi pi-user"></i>
                    <span>Profile</span>
                </button>
                <ul class="dropdown-menu">
                    <li>
                        <a (click)="logout($event)"
                           class="hover:text-primary-500 transition-duration-200">
                            <div class="p-element flex align-items-center">
                                <i class="pi pi-fw pi-lock mr-2"></i>
                                <span>Logout</span>
                            </div>
                        </a>
                    </li>
                </ul>
            </li>

            <li>
                <a>
                    <button class="p-link layout-topbar-button" [routerLink]="'/documentation'">
                        <i class="pi pi-cog"></i>
                        <span>Settings</span>
                    </button>
                </a>
            </li>
        </ul>
    </div>
</div>
